.fadebox {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);

}
.overbox {
    display: none;
    position: absolute;
    top: 25%;
    left: 23%;
    width: 50%;
    height: 50%;
    z-index:1002;
    overflow: auto;
    background: #ffffff;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 15px;


}

.overbox .overdiv {
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 15px;
}

.overbox .overdivreg {
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 15px;
}

.overboxpeticion {
    display: none;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    z-index:1002;
    overflow: auto;
    background: #ffffff;
    padding-top: 1%;
    padding-left: 7%;
    padding-right: 15px;
}

.overboxpeticion .overdivpet {
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 15px;
}