<!DOCTYPE html>
<html>
<head>
    <title>{{peticion.titulo}}</title>
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" media="screen">



    <style>
        body {
            padding-top: 45px;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="author" content="Josevi Agulló Sánchez">
</head>

<body onload="verLoginPet()">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" >ChangePost</a>
                <ul class="nav">
                    <li><a href="index">Home</a></li>
                </ul>
                <ul class="nav" style="float: right" id="noLog">
                    <li><a href="javascript:showLightbox();">LogIn</a></li>
                    <li><a href="javascript:showLightbox2();">Registrarse</a></li>
                </ul>
                <ul class="nav" style="float: right; display: none" id="userLog">
                    <li><a id="nombreUserLog"></a></li>
                    <li><a href="javascript:showLightBoxPeticion()">Nueva petición</a></li>
                    <li><a href="javascript:doLogOut();">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="over" class="overbox">
        Login:
        <div id="aviso_log" style="float: center; color: red">

        </div>
        <div class="overdiv">
            <p><label class="label" id="label_log" ><span>Login:</span> <input type="email" id="mail" name="mail" placeholder="tucorreo@servidor.es" required="required"></label></p>
            <p><label class="label" id="pass_log"><span>Pass:</span> <input type="password" id="pass" name="pass" required="required" ></label></p>
            <p><input class="checkbox" type="checkbox" name="recordarLogin" value="RecordarLogin"> Recordarme</p>
            <a class="btn btn-primary" onclick="javascript:doLogIn();">
                Acceder
            </a>
        </div>
    </div>
    <div id="over2" class="overbox">
        Registrarse:
        <div id="aviso_reg" style="float: center; color: red">

        </div>
        <div class="overdivreg">
            <p><label class="label" ><span>Nombre:</span> <input type="text" id="nombreReg" name="nombre" placeholder="Escribe tu nombre..." required="required"></label>
                <label class="label" ><span>Apellidos:</span> <input type="text" id="apellidosReg" name="apellidos" placeholder="Escribe tus apellidos..." required="required" ></label>
                <label class="label" ><span>Login:</span> <input type="email" id="mailReg" name="mail" placeholder="tucorreo@servidor.es" required="required" onchange="comprobarLogin();"> <span id="fallo_mail_reg" style="color: red"></span></label>
                <label class="label" ><span>Pass:</span> <input type="password" id="passReg" name="pass" required="required" ></label><span id="fallo_pass_reg" style="color: red"></span>
                <label class="label" ><span>Repetir Pass:</span> <input type="password" id="passReg2" name="pass" required="required" ></label><span id="fallo_pass_reg2" style="color: red"></span></p>
            <a class="btn btn-primary" onclick="javascript:doRegistry();">
                Completar registro
            </a>
        </div>
    </div>

    <div id="overpeticion" class="overboxpeticion">
        Crear nueva petición:
        <div id="aviso_pet" style="float: center; color: red">

        </div>
        <div class="overdivpet">
            <p><label class="label" ><span>Título:</span> <input type="text" id="titlePet" name="title" placeholder="Escribe el título de la petición..." required="required"></label>
                <label class="label" ><span>Fecha de finalización:</span> <input type="date" id="datePet" name="dateEnd" required="required" ></label>
                <label class="label" ><span>Firmas requeridas:</span> <input type="number" id="signaturesObjPet" name="signaturesEnd" placeholder="Introduce las firmas objetivo..." required="required"> <span id="fallo_mail_reg" style="color: red"></span></label>
                <label class="label" ><span>Texto de la petición:</span> <textarea id="textPet" name="textPet" placeholder="Escribe aquí" cols="17" rows="5" maxlength="1000" required="required"></textarea></label><span id="fallo_pass_reg2" style="color: red"></span></p>
            <a class="btn btn-primary" onclick="javascript:doPeticion();">
                Completar petición
            </a>
        </div>
    </div>

    <div id="fade" class="fadebox" onclick="javascript:hideLightbox();">&nbsp;</div>

    {{#peticion}}
    <h1>{{titulo}}</h1>
    <img width="200" src="img/peticiones/{{id}}.jpg" alt="Foto petición">  <br>
     Creador:

    <br>
    <table>
        <tr>
            <td>
                <a href="usuario?login={{usuario.login}}"><img width="50" src="img/perfiles/{{usuario.login}}.jpg" alt="Foto usuario"></a>
            </td>
            <td>
                <a href="usuario?login={{usuario.login}}">{{usuario.nombre}} {{usuario.apellidos}}</a>
                <input type="hidden" id="creador" value={{usuario.login}}>
            </td>
        </tr>
    </table>

    {{{ptexto}}}

    <script type="text/javascript">
        var id_peticion = {{id}};
    </script>

    <fieldset id="contornoformu">
        <legend>Firma: </legend>
        <form id="formulario" action="post" method="post" >
        </form>
    </fieldset>



    Firmas actuales: {{firmasConseguidas}}<br>
    Firmas buscadas: {{firmasObjetivo}}<br><br>
    {{/peticion}}

    <div class="row">
        <div class="span6">
            <h3>Actualizaciones de la petición:</h3>
        </div>
    </div>


    <fieldset>
    <div id="actua" class="ent">
        <form action="#">
            <div id="contanyadir">
                Contenido:<input type="text" id="contenidoActu"><div id="lista"></div><br>
                <input type="button" id="altaActu" value="Añadir">
            </div>
        </form>
    </div>
    </fieldset>

    <div class="row">
        <div class="span4">
            <h2>Firmas recientes:</h2>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <table>
                <tr>
                    <td>
                        <img width="200" src="img/perfiles/pepe@ua.es.jpg" alt="Foto firmante">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    Pepe
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Porque me gustan los mejillones, están tan ricos... digooo, son tan interesantes
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img width="200" src="img/perfiles/adi@ua.es.jpg" alt="Foto firmante">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    ADI
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Porque me daba la gana
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <!-- requisito imprescindible para backbone -->
    <script src="styles/js/lib/underscore-min.js"> </script>
    <!-- compatibilidad con IE antiguos -->
    <script src="styles/js/lib/json2.js"> </script>
    <!-- RESTful persistence, history support via Backbone.Router and DOM manipulation with Backbone.View -->
    <script src="styles/js/lib/zepto.min.js"> </script>
    <!-- el propio backbone -->
    <script src="styles/js/lib/backbone-min.js"> </script>
    <!-- mustache para templating, tirando la casa por la ventana -->
    <script src="styles/js/lib/mustache.js"></script>
    <script type="text/javascript" src="styles/js/funciones.js"></script>


</body>
</html>