<!DOCTYPE html>
<html>
<head>
    <title>{{usuario.nombre}} {{usuario.apellidos}}</title>
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css" media="screen">

    <!-- requisito imprescindible para backbone -->
    <script src="styles/js/lib/underscore-min.js"> </script>
    <!-- compatibilidad con IE antiguos -->
    <script src="styles/js/lib/json2.js"> </script>
    <!-- RESTful persistence, history support via Backbone.Router and DOM manipulation with Backbone.View -->
    <script src="styles/js/lib/zepto.min.js"> </script>
    <!-- el propio backbone -->
    <script src="styles/js/lib/backbone-min.js"> </script>
    <!-- mustache para templating, tirando la casa por la ventana -->
    <script src="styles/js/lib/mustache.js"></script>
    <script type="text/javascript" src="styles/js/funciones.js"></script>

    <style>
        body {
            padding-top: 45px;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <meta charset="utf-8">
    <meta name="author" content="Josevi Agulló Sánchez">
</head>
<body>
    <div class="navbar navbar-fixed-top" >
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" >ChangePost</a>
                <ul class="nav">
                    <li class="active"><a href="index">Home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header class="topbar">
        <h1 class="fill">
            Datos del usuario
        </h1>
    </header>

    {{#usuario}}
    <table >
        <tr>
            <td>
                Nombre y apellidos:
            </td>
            <td>
                {{nombre}} {{apellidos}}
            </td>
        </tr>
        <tr>
            <td>
                Foto de perfil:
            </td>
            <td>
                <img width="50" src="img/perfiles/{{login}}.jpg" alt="Foto usuario">
            </td>
        </tr>
    </table>
    {{/usuario}}

    <div class="row">
        <div class="span6">
            <h3>Actividad reciente:</h3>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <table>
                <tr>
                    <td>
                        <img width="200" src="img/peticiones/1.jpg" alt="Foto firmante">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <strong>Pepe</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Porque me gustan los mejillones, están tan ricos... digooo, son tan interesantes
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    15/10/2013 12:31
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img width="200" src="img/peticiones/2.jpg" alt="Foto firmante">
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <strong>ADI</strong>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    Porque me daba la gana
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    13/10/2013 22:54
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</body>
</html>